@import '../../assets/css/reset.css';

body {
    background: #f5f5f5;
}
.slide-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    // transition: all 1s;
    
    .slick-dots {
        width: 770px;
        bottom: 6px;
    }
    .slick-dots button:before{
        opacity: .6;
        color: #fff;
    }
    .slick-dots .slick-active button:before{
        color: red;
    }
    .slick-arrow {
        width: 37px;
        height: 63px;
    }
    .slick-prev {
        left: -50px;
    }
    .slick-next {
        right: -50px;
    }
    .slick-prev:before {
        width: 37px;
        height: 63px;
        background-image: url('../../assets/images/arrl.png');
    }
    .slick-next:before {
        width: 37px;
        height: 63px;
        background-image: url('../../assets/images/arrr.png');
        

    }
    .slick-prev:before, .slick-next:before {
        content: '';
        display: block;
        background-size:100% 100%;
    }
    .slick-prev:hover, .slick-next:hover {
        background: rgba(0,0,0,.5);
    }
    .download {
        position: absolute;
        top: 0;
        z-index: 20;
        right: -1px;
        width: 254px;
        height: 285px;
        background: url('../../assets/images/download.png')
    }
}
.slide-main {
    position: relative;
    width: 982px;
    height: 285px;
    margin: 0 auto;
}
.slick-slider {
    width: 982px;
    height: 285px;
    margin: 0 auto;
}
.slick-list {
    img {
        width: 730px;
        height: 285px;
    }
}
#discover-module {
    width: 980px;
    margin: 0 auto;
    background: #fff;
    .g-mn1 {
        float: left;
        width: 100%;
        margin-right: -250px;
    }
    .g-mn1c {
        margin-right: 251px;
    }
    .g-wrap3 {
        padding: 20px 20px 40px;   
    }
    .g-sd1 {
        float: right;
        width: 250px;
    }
    .v-hd2 {
        height: 33px;
        padding: 0 10px 0 34px;
        border-bottom: 2px solid #C10D0C;
        background: url('../../assets/images/index.png') no-repeat 0 9999px;
        background-position: -225px -156px;
        a {
            font-size: 20px;
            line-height: 28px;
        }
        .tit {
            float: left;
        }
        .tab {
            float: left;
            margin-left: 20px;
            a {
                font-size: 12px;
                color: #666;
            }
            .line {
                margin: 0 10px;
                color: #ccc;
            }
        }
    }
    .hot-recommend-content {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        li {
            width: 140px;
            font-size: 14px;
            margin-top: 20px;
        }
        .dec{
            margin-top: 8px;
            vertical-align: middle;
        }
    }
}